{
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": false
}
